---
---

@import "{{ site.theme }}";

.breadcrumb {
  position: fixed;
  left: 50%;
  margin-left: -325px;
}

.breadcrumb-section {
  border: 1px solid #dba500;
  background: linear_gradient(#ffe788, #ffce38);
  border-radius: 2px;
  box-shadow: inset 0px 1px 0px rgba(255,255,255,0.4),0px 1px 1px rgba(0,0,0,0.1);
  background-color: #FFE788;
  margin-left: 5px;
  padding: 10px 12px;
  margin-top: 6px;
  line-height: 14px;
  font-size: 14px;
  color: #333;
  font-weight: bold;
  display: inline-block;
  text-align: center;
}

.breadcrumb-sep {
  margin: 0 8px; 
}


@media print, screen and (max-width: 720px) {

  .breadcrumb {
    float: left;
    display: inline-block;
    margin-left: 0px;
    position:fixed;
    left:20px;
  }
  
}
