---
---

@import "{{ site.theme }}";

$primary-color: #4484CE;
$secondary-color: #274B75;
$secondary-color-dark: #19304c;
$accent-color: #ffb21a;

header {
  background: $primary-color;
}

body {
  background: url(../images/body-background-bw.png) #e6e6e6
}

#banner {
  background: $secondary-color;
  border-color: $secondary-color-dark;

  color: white;
  ul {
    margin-left: 0;
  }
}

.breadcrumb {
  position: fixed;
  left: 50%;
  margin-left: -325px;
}

.breadcrumb-section {
  padding: 10px 12px;
  margin-top: 8px;
  line-height: 14px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  display: inline-block;
  text-align: center;
}

.breadcrumb-sep {
  margin: 0 4px;
  color: rgba(white, 0.8);
}

.left {
  float: left;
}

.right {
  float: right;
}

@media print, screen and (max-width: 720px) {

  .breadcrumb {
    float: left;
    display: inline-block;
    margin-left: 0px;
    position:fixed;
    left:20px;
  }

}
